page-home {
    .card-profeta{
      padding: 20px;
    }

    ion-col div{
      padding: 5px;
      text-align: center;
    }

    p{
      padding: 10px 0 0 10px !important;
      margin: 0;
    }

    .p-left{
      text-align: left;
    }

    .p-right{
      text-align: right;
    }
}
